$align: left;
$bg-color: #ddd;
$color-01: #192a56;
$color-02: #487eb0;
$color-03: #00a8ff;
$color-04: #353b48;
$color-default: #444;
$font-big: 3.3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.8rem;
$font-normal: 1.9rem;
$font-small: 1.5rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;